.container{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, 
  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 35px 20px;
  /* border: solid; */
  background-color: #cedce7;
}

.box{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, 
  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  /* border: solid ; */
  justify-content: space-evenly;
background-color: #24252a;
}

.links{
  cursor: pointer;
  display: flex;
  margin-top: 4px;
  /* border: solid; */
  width: 50%;
  text-align: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 0px 200px 0px 200px;
 color: aliceblue;
}
.btn{
  cursor: pointer;
  border-radius: 30px;
  padding: 8px 30px ;
  margin-top: 15px;
background-color:#0088a7;
color: aliceblue;
  border: none;
}
.logo{
  cursor: pointer;
  color: aliceblue;
}